<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="Description" content="Cara mudah cari tempat makan." />
		<link rel="manifest" href="manifest.json" />
		<meta name="theme-color" content="#fff" />
		<link rel="canonical" />
		<link
			rel="apple-touch-icon"
			type="image/png"
			href="./icons/icon-192x192.png"
		/>
		<link
			rel="shortcut icon"
			type="image/png"
			href="./icons/icon-192x192.png"
		/>
		<title>Res.to | Tempat cari makan terbaik.</title>
	</head>
	<body>
		<skip-to-content></skip-to-content>
		<header-view></header-view>
		<main></main>
		<footer-view></footer-view>
		<noscript>
			<span>Please enable your javascript</span>
		</noscript>
		<script
			src="https://kit.fontawesome.com/875d56dba9.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
