<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Restaurant Apps Starter Project</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="/">
					<img src="./public/images/logo.png" alt="Logo website Res.to"
				/></a>
			</div>
			<div class="hamburger-menu">
				<button
					class="hamburger-button"
					aria-roledescription="membuka menu navigasi"
				>
					<i class="fas fa-bars"></i>
				</button>
			</div>
			<nav class="drawer">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/favorite">Favorite</a></li>
					<li><a href="/about">About us</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<!-- Hero -->
			<section class="hero-section">
				<!-- caption -->
				<h1 class="hero-section__heading-title">Makan dimana hari ini?</h1>
				<p class="hero-section__description">
					Res.to memberikan pilihan tempat makan terbaik dan terlengkap sepsial
					untukmu.
				</p>
				<!-- skip to restorant -->
				<a href="#resto-list" class="hero-section__link"
					>lihat daftar restoran <i class="fas fa-utensils"></i
				></a>
			</section>
			<!-- Kelebihan -->
			<section class="kelebihan-section">
				<div class="section-label  kelebihan__label">
					<h2>Kenapa memilih tempat kami?</h2>
				</div>
				<div class="card-container">
					<div class="card-item">
						<div class="image-container">
							<img src="./public/images/chef.png" alt="gambar topi chef" />
						</div>
						<h3>Terupdate</h3>
						<p>Kami memastikan Informasi diperbarui secara berkala.</p>
					</div>
					<div class="card-item">
						<div class="image-container">
							<img
								src="./public/images/restaurant.png"
								alt="gambar piring dan sendok"
							/>
						</div>
						<h3>Lengkap</h3>
						<p>
							Kami bekerja sama dengan hampir seluruh restoran di seluruh Bumi.
						</p>
					</div>
					<div class="card-item">
						<div class="image-container">
							<img src="./public/images/safe.png" alt="gambar perisai korona" />
						</div>
						<h3>Aman</h3>
						<p>
							Kami hanya memberikan daftar restoran dengan keamanan yang teruji.
						</p>
					</div>
				</div>
			</section>
			<!-- Daftar resto -->
			<section class="restourants-section" id="resto-list">
				<div class="section-label  restaurant__label"> Daftar restoran pilihan</div>

			</section>
		</main>

		<!-- Footer -->
		<footer></footer>
	</body>
</html>
