<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Restaurant Apps Starter Project</title>
	</head>
	<body>
		<header>
			<div class="logo">
				<a href="/">
				<img src="./public/images/logo.png" alt="Logo website Res.to"></a>
			</div>
			<div class="hamburger-menu">
				<button
					class="hamburger-button"
					aria-roledescription="membuka menu navigasi"
				>
					<i class="fas fa-bars"></i>
				</button>
			</div>
			<nav class="drawer">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/favorite">Favorite</a></li>
					<li><a href="/about">About us</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<!-- Hero -->
			<section class="hero-section">
				<!-- caption -->
				<h1 class="hero-section__heading-title">Makan dimana hari ini?</h1>
				<p class="hero-section__description">Res.to memberikan pilihan tempat makan terbaik dan terlengkap sepsial untukmu.</p>
				<!-- skip to restorant -->
				<a href="#resto-list" class="hero-section__link">lihat daftar restoran <i class="fas fa-utensils"></i></a>
			</section>
			<!-- Kelebihan -->
			<section class="kelebihan-section">
				
			</section>
			<!-- Daftar resto -->
			<section class="daftar-section" id="#resto-list"></section>
		</main>

		<!-- Footer -->
		<footer></footer>
	</body>
</html>
