@import "reset";
@import "variables";
@import "media";

@import "../public/fonts/stylesheet.css";

// Setting up
:root {
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans";
	// background-color: red;
}

img {
	display: block;
}

// 🔥 Nav
header {
	position: relative;
	background-color: white;
	width: 100%;
	padding: 1em 1em;
	display: flex;
	justify-content: space-between;
	z-index: 1000;

	@include media(">mobile") {
		.hamburger-menu {
			display: none;
		}
	}

	nav.drawer {
		position: fixed;
		top: 0%;
		right: 0%;
		width: 70%;
		height: 100%;
		transform: translate(100%, 0%);
		z-index: 999;
		background-color: white;
		transition: transform 0.6s ease-in-out;
		// visibility: hidden;
		padding-top: 2em;
		box-shadow: 0.2em 0.2em 0.4em black;

		ul li a {
			display: inline-block;

			width: 100%;
			min-height: 44px;
			padding: 1em;
			text-decoration: none;
			color: $black;
			text-align: center;
			font-weight: $light-bold;
		}

		&.open {
			transform: unset;
		}

		@include media(">mobile") {
			position: relative;
			background-color: aqua;
			top: unset;
			right: unset;
			width: auto;
			height: auto;
			transform: unset;
			padding-top: 0;

			ul {
				display: flex;
			}
		}
	}
}

// 🔥 Main
main {
	// padding-top: em;

	.hero-section {
		width: 100%;
		padding: 4em 2em;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
			url(../public/images/heros/hero-image_2.jpg);
		background-size: cover;
		// filter: brightness(0.8);
		text-align: center;

		&__heading-title {
			color: white;
			font-size: 2em;
			font-weight: 700;
			margin-bottom: 0.5em;
		}

		&__description {
			color: white;
			font-size: 1.2em;
			margin-bottom: 1.5em;
			line-height: 1.2;
		}

		&__link {
			display: inline-block;
			background-color: lightseagreen;
			padding: 1em 2em;
			color: white;
			border-radius: 2em;
			font-weight: 600;
			cursor: pointer;
			text-decoration: none;
			font-size: 1em;
		}
	}
}
