@import "reset";
@import "variables";
@import "media";

@import "../public/fonts/stylesheet.css";

// Setting up
:root {
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans";
	// background-color: red;
	max-width: 1440px;
	background-color: white;

	@include media(">desktop") {
		margin: auto;
		box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.25);
	}
}

img {
	display: block;
}

// 🖼 template
.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;

	.card-item {
		background-color: white;
		box-sizing: border-box;
		padding: 2em;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

.section-label {
	padding: 0 1em;
	font-size: 1.8em;
	font-weight: 700;
	text-align: center;
	color: $black;
}

// 🔥 skip link

.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background-color: #bf1722;
	color: white;
	padding: 8px;
	z-index: 10000;

	&:focus {
		top: 0;
	}
}

// 🔥 Nav
header {
	position: relative;
	background-color: white;
	width: 100%;
	padding: 1em 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;

	@include media(">mobile") {
		padding: 1em 2em;
	}
	@include media(">900px") {
		padding: 1em 4em;
	}

	.logo {
		height: 1.8em;
		img {
			height: 100%;
		}

		@include media(">615px") {
			height: 2em;
		}
	}

	.hamburger-button {
		background-color: transparent;
		outline: none;
		border: none;
		color: $black;
		font-size: 1.2em;

		min-height: 44px;

		&:focus {
			box-shadow: 0 0 .1em .1em goldenrod;
		}

		@include media(">600px") {
			display: none;
		}
	}

	nav.drawer {
		position: fixed;
		top: 0%;
		right: 0%;
		width: 70%;
		max-width: 300px;
		height: 100%;
		transform: translate(100%, 0%);
		z-index: 999;
		background-color: white;
		transition: transform 0.6s ease-in-out;
		// visibility: hidden;
		padding-top: 2em;
		box-shadow: 0.2em 0.2em 0.4em black;

		ul li a {
			display: inline-block;
			width: 100%;
			min-height: 44px;
			padding: 1em 0 1em 1em;
			text-decoration: none;
			color: $black;
			text-align: center;
			font-weight: $light-bold;

			@include media(">650px") {
				padding: 1em 0 1em 2em;
			}
		}

		&.open {
			transform: unset;
		}

		@include media(">600px") {
			position: static;
			// background-color: aqua;
			box-shadow: none;
			top: unset;
			right: unset;
			width: auto;
			height: auto;
			transform: unset;
			padding-top: 0;

			ul {
				display: flex;
			}
		}
	}
}

// 🔥 Main
main {
	// padding-top: em;

	.hero-section {
		width: 100%;
		padding: 4em 2em;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
			url(../public/images/heros/hero-image_2.jpg);
		background-size: cover;
		background-position: center ;
		// filter: brightness(0.8);
		text-align: center;

		@include media(">700px") {
			padding: 6em 2em;
		}
		@include media(">850px") {
			padding: 10em 2em;
		}
		@include media(">1000px") {
			padding: 10em 2em;
			min-height: 70vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__heading-title {
			color: white;
			font-size: 2em;
			font-weight: 700;
			margin-bottom: 0.5em;

			@include media(">1000px") {
				font-size: 3em;
			}
		}

		&__description {
			color: white;
			font-size: 1.2em;
			margin-bottom: 1.5em;
			line-height: 1.2;
		}

		&__link {
			display: inline-block;
			background-color: lightseagreen;
			padding: 1em 2em;
			color: white;
			border-radius: 2em;
			font-weight: 600;
			cursor: pointer;
			text-decoration: none;
			font-size: 1em;
			transition: 0.4s ease-in-out;

			&:hover {
				color: darken(white, 10%);
				background-color: darken(lightseagreen, 10%);
			}
		}
	}

	.kelebihan-section {
		padding: 2em 0;

		@include media(">1000px") {
			padding-top: 5em;
		}
		// .kelebihan__label {
		// }

		.card-container {
			grid-template-columns: repeat(auto-fit minmax(300px, 1fr));
			column-count: 3;
			max-width: 1190px;
			margin: auto;

			@include media(">600px", "<900px") {
				grid-template-columns: 1fr;
			}

			.card-item {
				@include media(">mobile", "<900px") {
					padding: 2em 2em;
					width: 70%;
				}

				.image-container {
					height: 7em;
					text-align: center;
					margin-bottom: 1em;

					@include media(">600px") {
						height: 10em;
					}

					img {
						height: 100%;
						object-position: center;
					}
				}

				h3 {
					font-size: 1.5em;
					font-weight: 700;
					color: $black;
					margin-bottom: 0.7em;
				}
				p {
					line-height: 1.2;
					font-size: 1em;
					color: $black;
				}
			}
		}
	}

	.restourants-section {
		padding: 2em 0;

		@include media(">mobile", "<=470px") {
			padding: 2em 1em;
		}
		@include media(">470px", "<=515px") {
			padding: 2em 2em;
		}
		@include media(">515px", "<600px") {
			padding: 2em 4em;
		}
		@include media(">1000px") {
			padding: 2em 4em;
		}

		// .restourants__label {
		// }

		.restourant-list {
			padding-top: 2em;

			.restourant {
				background-color: white;
				border-radius: 0.5em;
				padding: 0;
				margin: 1em 1em;
				box-shadow: 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.25);
				overflow: hidden;
				text-align: left;
				transition: box-shadow 0.4s ease-in-out;

				&:hover {
					box-shadow: 0.2em 0.2em 0.6em rgba(63, 26, 26, 0.35);
				}

				.image-container {
					height: 10em;
					width: 100%;
					overflow: hidden;

					img {
						object-fit: cover;
						// height: 100%;
						width: 100%;
					}
				}

				.restourant-description {
					padding: 1em 0;
					margin: 0 1em;
					border-bottom: 1px solid lightgray;

					.restourant-name {
						font-size: 1.5em;
						font-weight: 570;
						margin-bottom: 0.5em;
						line-height: 1.5;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						max-height: 2em;
						-webkit-line-clamp: 1; /* Write the number of 
                              lines you want to be 
                              displayed */
						-webkit-box-orient: vertical;
					}

					.rating {
						display: flex;
						margin-bottom: 0.5em;
						align-items: flex-end;

						.stars {
							color: $gold;
							margin-right: 0.5em;
						}
						.rating-number {
							color: $black;
							font-size: 0.8em;
							display: inline-block;
							vertical-align: bottom;
							line-height: 1;
						}
					}

					.city {
						color: $black;
						font-size: 0.9em;
						display: inline-block;
						margin: 0.5em 0;

						i {
							color: salmon;
						}
					}

					.description {
						color: $black;
						font-size: 0.9em;
						line-height: 1.3;
						overflow: hidden;
						text-overflow: ellipsis;
						display: -webkit-box;
						max-height: 1.5em * 3;
						-webkit-line-clamp: 3; /* Write the number of 
                              lines you want to be 
                              displayed */
						-webkit-box-orient: vertical;
					}
				}

				.action {
					display: flex;
					// background-color: red;
					width: 100%;
					justify-content: center;

					div {
						width: 50%;
						text-align: center;
						box-sizing: border-box;
						padding: 0.5em 0;

						button,
						a {
							color: lighten($black, 20%);
							background-color: transparent;
							border: none;
							display: inline-block;
							text-decoration: none;
							font-size: 1em;
							cursor: pointer;
							font-weight: 550;
							transition: color 0.2s ease-in-out;

							&:hover {
								color: darken($black, 20%);
							}
						}
					}

					.action__share {
						button {
							padding: 1em 0;
							min-height: 44px;
							border-radius: 0.5em;
						}
					}

					.action__detail {
						a {
							padding: 1em 0;
							min-height: 44px;
							border-radius: 0.5em;
						}
					}
				}
			}
		}
	}
}

footer {
	background-color: #213e3b;
	padding: 2em 0;
	display: flex;
	justify-content: center;

	span {
		color: white;
		font-size: 0.9em;
	}
}
