@import "reset";
@import "variables";
@import "media";

@import "../public/fonts/stylesheet.css";

// Pages
@import './pages/home';
@import './pages/detail';

// Setting up
:root {
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Open Sans";
	// background-color: red;
	max-width: 1440px;
	background-color: white;

	@include media(">desktop") {
		margin: auto;
		box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.25);
	}
}

img {
	display: block;
}

// 🖼 template
.card-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	justify-items: center;
	align-items: center;
	justify-content: center;
	align-content: center;

	.card-item {
		background-color: white;
		box-sizing: border-box;
		padding: 2em;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

.section-label {
	padding: 0 1em;
	font-size: 1.8em;
	font-weight: 700;
	text-align: center;
	color: $black;
}

// 🔥 skip link

.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background-color: #bf1722;
	color: white;
	padding: 8px;
	z-index: 10000;

	&:focus {
		top: 0;
	}
}

// 🔥 Nav
header {
	position: relative;
	background-color: white;
	width: 100%;
	padding: 1em 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;

	@include media(">mobile") {
		padding: 1em 2em;
	}
	@include media(">900px") {
		padding: 1em 4em;
	}

	.logo {
		height: 1.8em;
		img {
			height: 100%;
		}

		@include media(">615px") {
			height: 2em;
		}
	}

	.hamburger-button {
		background-color: transparent;
		outline: none;
		border: none;
		color: $black;
		font-size: 1.2em;

		min-height: 44px;

		&:focus {
			box-shadow: 0 0 .1em .1em goldenrod;
		}

		@include media(">600px") {
			display: none;
		}
	}

	nav.drawer {
		position: fixed;
		top: 0%;
		right: 0%;
		width: 70%;
		max-width: 300px;
		height: 100%;
		transform: translate(100%, 0%);
		z-index: 999;
		background-color: white;
		transition: transform 0.6s ease-in-out;
		// visibility: hidden;
		padding-top: 2em;
		box-shadow: 0.2em 0.2em 0.4em black;

		ul li a {
			display: inline-block;
			width: 100%;
			min-height: 44px;
			padding: 1em 0 1em 1em;
			text-decoration: none;
			color: $black;
			text-align: center;
			font-weight: $light-bold;

			@include media(">650px") {
				padding: 1em 0 1em 2em;
			}
		}

		&.open {
			transform: unset;
		}

		@include media(">600px") {
			position: static;
			// background-color: aqua;
			box-shadow: none;
			top: unset;
			right: unset;
			width: auto;
			height: auto;
			transform: unset;
			padding-top: 0;

			ul {
				display: flex;
			}
		}
	}
}

// 🔥 Main
main {
	// padding-top: em;
	@include home;

	@include detail;
}

footer {
	background-color: #213e3b;
	padding: 2em 0;
	display: flex;
	justify-content: center;

	span {
		color: white;
		font-size: 0.9em;
	}
}
